<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="css/styles3.css">
  </head>
  <body>
        <div class="skills">
          <h2><i>B L O G !!</i></h2>
          <div class="skill-row">
            <img class="code-img" src="images/eventblog.jpg" alt="code-img">

            <h3>Hotel</h3>
            <p><i>
              Many hotels come equipped with restaurants, bars, ballrooms, conference rooms, and other event spaces, making them the ideal choice for many different types of events, Best suited for: parties, dinner parties, tasting events, business meetings, conferences, presentations, networking events, and wedding receptions.
            </p></i>

          </div>
          <hr>
          <div class="skill-row">
            <img class="chilli-img" src="images/eventblog2.jpg" alt="chillies-img">

            <h3>Restaurant</h3>
            <p><i>
              You can book a private dining room or, if your event is big enough, book out the entire restaurant. Best suited for: dinner parties, birthdays, wedding receptions, business meetings, and tasting events.
            </p></i>

          </div>
          <hr>
          <div class="skill-row">
            <img class="code-img" src="images/eventblog3.jpg" alt="code-img">

            <h3>Resort</h3>
            <p><i>
              A resort's event management is responsible for the organization and management of any kind of event. Ranging from family reunions to gala dinners: the rooms, seating, arrangements, menues and equipment need thorough and punctual organization, coordination and preparation.
            </p></i>

        </div>
        <hr>
        <div class="skill-row">
          <img class="chilli-img" src="images/eventblog4.jpg" alt="chillies-img">

          <h3>Party Hall</h3>
          <p><i>
            Party Halls are multi-purpose venues, where you can host any type of event you want, including birthdays, marriages, receptions and many more. Here, you can find the best of venues.
          </p></i>
        </div>
        <hr>
        <div class="skill-row">
          <img class="code-img" src="images/eventblog5.jpg" alt="code-img">

          <h3>Marriage Hall</h3>
          <p><i>
            A Marriage hall play an important role in the life of the couple that is going to be married, a place where you meet your dream partner. Get wonderful marriage halls here, which would help you in making your marriage even more beautiful.
          </p></i>

      </div>
      <hr>
      <div class="skill-row">
        <img class="chilli-img" src="images/eventblog6.jpg" alt="chillies-img">

        <h3>Party Lawn</h3>
        <p><i>
          An ideal venue for your royal wedding. We organise weddings, events, corporates and parties. We have a capacity of around 2000 people and parking.
        </p></i>
      </div>
        </div>
  </body>
</html>
