<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>REGISTER</title>
    <link rel="stylesheet" href="css/styles2.css">
  </head>
  <body>
    <div class="bg-image"></div>

    <div class="bg-text">
      <div class="heading">
        <h1><em>OCCASIONS</em></h1>
      </div>
      <form class="frm" action="/"  enctype="multipart/form-data" method="post">
        <h1>REGISTER YOUR ORG!</h1>
          <table cellspacing="15">
            <tr>
              <td><label for="ename"><strong>Event Organzation Name:-</strong></label><br>
              <input type="text" placeholder="Enter Event Org. Name" name="one" required></td>
              <td><label for="etype"><strong>Event Speciality:-</strong></label><br>
              <input type="text" placeholder="Comedy/Dance/Drama/Music" name="two" required></td>
            </tr>
            <tr>
              <td><label for="etime"><strong>City:-</strong></label><br>
              <input type="text" placeholder="Enter City Name" name="three" required></td>
              <td><label for="efare"><strong>Venue Type:-</strong></label><br>
              <input type="text" placeholder="Enter Type of Venue" name="four" required></td>
            </tr>
            <tr>
              <td><label for="name"><strong>Fare per hour:-</strong></label><br>
              <input type="text" placeholder="Enter Event Fare/hour" name="five" required></td>
              <td><label for="pnum"><strong>Office Phone Number:-</strong></label><br>
              <input type="text" placeholder="Enter Office Ph.Num" name="six" required></td>
            </tr>
            <tr>
              <td><label for="email"><strong>Office Email ID:-</strong></label><br>
              <input type="text" placeholder="Enter Email  ID" name="seven" required></td>
              <td><label for="addr"><strong>Venue:-</strong></label><br>
              <input type="text" placeholder="Enter Venue Address" name="eight" required></td>
            </tr>
          </table>
          <label class="repsw"><strong>Upload photo:-</strong></label>
          <input class="file" type="file" name="file" value=""><br>
          <input class="button" type="submit" value="REGISTER!">
      </form>
    </div>


  </body>
</html>
